:root {
	--default-theme-background-color: #161a1e;
	--default-theme-active-text-color: #fbfbfb;
	--default-theme-link-color: #e58e27;
	--default-theme-non-active-color: #9a9a9a;
	--default-theme-card-background-color: #9a9a9a10;
}