@import url(../../styles/_variables.css);
.games-inner {
	/*display: flex;*/
    /*flex-wrap: wrap;*/
	/*gap: 50px;*/
	/*overflow-y: scroll;*/
	/*max-height: 91.5vh;*/
	max-height: 88.5vh;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;
	overflow-y: scroll;
	padding-right: 10px;
}

.games-inner::-webkit-scrollbar {
	width: 10px;
}
.games-inner::-webkit-scrollbar-thumb {
	background-color: var(--default-theme-link-color);
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, opacity 0.3s ease;
  	opacity: 0.7;
}
.games-inner::-webkit-scrollbar-track {
    background-color: var(--default-theme-card-background-color);
    border-radius: 5px;
}
.games-inner::-webkit-scrollbar-thumb:hover {
	background-color: var(--default-theme-active-text-color);
	opacity: 1;
}
.error-message {
	color: var(--default-theme-active-text-color);
    font-size: 2rem;
    margin-bottom: 10px;
}
.game {
	max-width: 240px;
	/*height: 380px;*/
	width: 100%;
	height: 380px;
	background-color: var(--default-theme-card-background-color);
	padding: 15px;
	border-radius: 15px;
	text-decoration: none;
	transition: all 0.3s ease;
}


.game-img {
	width: 100%;
	height: 220px;
	margin-bottom: 10px;
	overflow: hidden;

}
.game-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}
.game-info {
	display: flex;
	justify-content: space-between;
    flex-direction: column;
	height: 150px;
}
.info-top {
	display: flex;
	flex-direction: column;
	gap: 3px;
}
.info-top h3 {
	font-size: 1.2rem;
	color: var(--default-theme-active-text-color);
}
.info-top p {
	font-size: 1rem;
	color: var(--default-theme-non-active-color);
}
.info-bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
    flex-direction: row;
    gap: 3px;
	bottom: 0;
}
.original-price {
	font-size: 1rem;
	color: var(--default-theme-non-active-color);
	text-decoration: line-through;
}
.discounted-price {
	color: var(--default-theme-link-color);
	font-size: 1.5rem;
	font-weight: 700;
}
.shop-button {
	color: var(--default-theme-background-color);
	font-weight: 700;
	text-decoration: none;
	background-color: var(--default-theme-link-color);
	padding: 12px 40px;
	border-radius: 15px;
	transition: all 0.3s ease;
	line-height: 1;
}

@media screen and (max-width: 1400px) {
	.games-inner{
		grid-template-columns: repeat(3, 1fr);
	}
}
@media screen and (max-width: 1100px) {
	.games-inner{
		grid-template-columns: repeat(2, 1fr);
	}
	.game{
		max-width: 200px;
		height: 320px;
	}
	.game-img {
		height: 180px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.game-info{
		height: 120px;
	}
	.info-top h3 {
		font-size: 1rem;
		color: var(--default-theme-active-text-color);
	}
	.info-top p {
		font-size: 0.9rem;
		color: var(--default-theme-non-active-color);
	}
	.info-bottom{
		justify-content: space-between;
	}
	.original-price {
		font-size: 0.9rem;
	}
	.discounted-price {
		font-size: 1.3rem;
	}
	.shop-button {
		padding: 10px 20px;
		border-radius: 10px;
		margin-left: auto;

	}
}

@media screen and (max-width: 768px) {
	.games-wrapper{
		padding-right: 10px;
	}
	.games-inner{
		grid-template-columns: repeat(1, 1fr);
	}
	.game{
		max-width: 100%;
		height: 380px;
		padding: 10px;
	}
	.game-img {
		height: 220px;
		margin-bottom: 10px;
		overflow: hidden;
	}
	.game-info{
		height: 120px;
	}
	.info-top h3 {
		font-size: 1rem;
		color: var(--default-theme-active-text-color);
	}
	.info-top p {
		font-size: 0.9rem;
		color: var(--default-theme-non-active-color);
	}
	.info-bottom{
		justify-content: space-between;
	}
	.original-price {
		font-size: 0.9rem;
	}
	.discounted-price {
		font-size: 1.3rem;
	}
	.shop-button {
		padding: 10px 20px;
		border-radius: 10px;
		margin-left: auto;
	}
}